@model Airlines.Web.Models.SearchFlightsViewModel

@{
    ViewData["Title"] = "Пошук авіарейсів";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="FindFlights">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedDepartureCityId" class="control-label"></label>
                <select name="SelectedDepartureCityId" asp-items="Model?.DepartureCities" class="form-control"></select>
                <span asp-validation-for="SelectedDepartureCityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedIncomingCityId" class="control-label"></label>
                <select name="SelectedIncomingCityId" asp-items="Model?.IncomingCities" class="form-control"></select>
                <span asp-validation-for="SelectedIncomingCityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomingDate" class="control-label"></label>
                <input asp-for="IncomingDate" class="form-control" />
                <span asp-validation-for="IncomingDate" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Знайти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
