# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Airlines.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Vlad_\RiderProjects\Airlines\.idea\.idea.Airlines\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
